################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Persons.Directory.API/Persons.Directory.API/bin/Debug/net6.0
